.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #e7e6e6, white);
    /*background: red;*/
}

/* .settings-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
} */

.form-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.update-owner-container {
    flex: 6;
}

.change-password-container {
    flex: 4;
}

@media (max-width: 768px) {
    .settings-content {
        width: 100%;
    }
}
