.container-fluid {
    height: 100vh;
    background: linear-gradient(135deg, #FFFFFF, #E6E1C5, #A2B38B);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 65vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.shaded-border {
    border: 1px solid #ccc;
}

.sub-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgot-password-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

h5 {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

p {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.label {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.col-6 {
    flex: 1;
}

.cancel-button, .reset-button {
    width: 100%;
}

.error {
    color: red;
    font-size: 12px;
}

.underline {
    position: relative;
    padding-bottom: 10px;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(203, 197, 197); /* Change this to the desired color */

}