.container-fluid {
    height: 100vh;
    background: var(--background_gradient);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 65vh;
    background-color: white;
}

.sub-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgot-password-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

h5 {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

p {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.label {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.col-6 {
    flex: 1;
}

.cancel-button, .reset-button {
    width: 100%;
}

.error {
    color: red;
    font-size: 12px;
}

.underline {
    position: relative;
    padding-bottom: 10px;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(203, 197, 197);
}