.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
}

.forgot-password-link {
    text-align: right;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
}