._card {
    flex: 0 0 calc(36% - 20px);
    max-width: calc(36% - 20px);
    /*width: 100%;*/
    background: var(--greenColor);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    margin-right: 40px;
    transition: .3s;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

._card:hover {
    box-shadow: 0 10px 20px rgba(100, 120, 120, 0.2);
}

@media (max-width: 969px) {
    ._card {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    ._card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}