._card {
    flex: 0 0 calc(23% - 20px);
    max-width: calc(23% - 20px);
    width: 100%;
    background: var(--greenAceColor);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    margin-right: 40px;
    transition: .3s;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

._card:hover {
    border-color: var(--ashColor);
    box-shadow: 0 10px 20px rgba(159, 150, 150, 0.2);
}

@media (max-width: 969px) {
    ._card {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    ._card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
