.container {
    max-width: 450px; 
    margin: 0 auto; /* Center the container */
    padding: 20px;
  }
  
 .error {
  color: red; /* Change to any color you prefer */
  font-size: 13px; /* Adjust the font size as needed */
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 1rem;
}