:root {
    --whiteColor: #FFFFFF;
    --blackColor: #020202;
    --grayColor: #737373;
    --blueColor: #124076;
    --redColor: #D20062;
    --greenColor: #AFD198;
    --yellowColor: #FCDC2A;
    --aceColor: #cccccc;
    --dullBlack: #292929;
    --ashColor: #737373;
    --lightBlue: #648cb1;
    --lightgray: #e1e1e1;
}





