:root {
    --whiteColor: #FFFFFF;
    --blackColor: #020202;
    --grayColor: #737373;
    --blueColor: #124076;
    --blueColor2: #033a7a;
    --redColor: #D20062;
    /*--greenColor: #AFD198;*/
    --yellowColor: #FCDC2A;
    --aceColor: #cccccc;
    --dullBlack: #292929;
    --ashColor: #737373;
    --ashColor2: #bfb9b9;
    --lightBlue: #648cb1;
    --lightgray: #e1e1e1;
    --greenColor: #178932;
    --greenAceColor: #D3E0D5;
    --background_gradient: linear-gradient(to bottom right, #e7e6e6, white);
}





