.header-container {
    display: flex;
    align-items: center;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
}

.filter-icon {
    margin-right: 10px;
}

.search {
    margin-left: 10px;
    margin-right: 10px;
}

.container-fluid {
    padding: 0;
}

.date-selector-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}