.form-label{
    margin-bottom: -0.5rem
}

/* .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
  } */
  
 /* Style for the default option */
 .select-option {
    color: gray;
    font-size: 14px;
  }
  
  /* Style for the dropdown options */
  .form-control option {
    padding: 10px;
    font-size: 16px;
  }
  
  /* Hover effect for the select element */
  .form-control:hover {
    border-color: #888;
  }
  
  /* Focus effect for the select element */
  .form-control:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Apply hover effect to the dropdown container */
  .form-group:hover .form-control {
    border-color: #888;
  }

.input-placeholder::placeholder {
    color: #C0C0C0; 
    font-size: 14px; 
  }