/* SearchBar.css */

.search-bar-container {
  width: 350px;

}

.search-bar-input {
  border-radius: 1rem;
  /* Add border radius */
  border-left: none;
  box-shadow: none;
  /* Remove default shadow */
  outline: none;
  /* Remove outline */
}

.search-bar-input:focus {
  box-shadow: none;
  /* Remove shadow on focus */

}

.search-icon {
  background-color: white;
  border-radius: 1rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #cac9c9;
  display: flex;
  align-items: center;
}

.search-bar-input::placeholder {
  color: #cac9c9;
  opacity: 1;
}