.header-container {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.search {
    margin-left: 10px;
    margin-right: 10px;
}
.container-fluid {
    padding: 0;
}
.selector-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 50px;
}
.topic{
    margin-bottom: 70px;
}