.main-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 55vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.image {
    max-width: 40%;
    height: auto;
    margin-bottom: 5px;
    margin-top: -30px;

}
.main-container p {
    text-align: center;
    margin-bottom: 15px;
}
.main-container p span {
    display: block;
}